.jumbotron {
  padding: 2rem 2rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.bird-details {
  margin: 0 auto;
}

.bird-image {
  margin-right: 2rem;
  height: 155px;
}

.bird-description {
  margin-top: 10px;
  margin-bottom: 0;
}


